<div class="navbar fixed-top navbar-expand-lg">
	<div class="container">
      
  		<a class="navbar-brand" [routerLink]="['/home']">
        <i class="fa fa-home"></i>
        Wallstrat
  			<!-- <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt=""> -->
  		</a>
  		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeaderCollapse">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarText">
    		<ul class="navbar-nav ml-auto ">
            
      			<li class="nav-item active">
        			<a class="nav-link" [routerLink]="['/about']">
                <i class="fa fa-building fa-icon"></i>
                About 
                <span class="sr-only">(current)</span></a>
      			</li>
            
      			<li class="nav-item">
        			<a class="nav-link" [routerLink]="['/apidoc']">
                <i class="fa fa-folder fa-icon" aria-hidden="true"></i>
                API
              </a>
      			</li>
            
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/exchanges']">
                <i class="fa fa-institution fa-icon" aria-hidden="true"></i>
                <mat-form-field>
                  <mat-select #exchangeSelect placeholder="Exchange" (mouseover)="openDropdown($event)">
                    <mat-option *ngFor="let exchange of exchanges" [value]="exchange">{{exchange}}</mat-option>
                    <mat-option><a class="nav-link" [routerLink]="['/exchanges']">All Exchanges</a></mat-option>
                  </mat-select>
              </mat-form-field>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" [routerLink]="['/coins']">Coins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/products']">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/pricing']">Pricing</a>
            </li> -->
            
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']">
                <i class="fa fa-envelope fa-icon"></i>
                Contact
              </a>
            </li>
      			
    		</ul>
    		<span class="navbar-text">
      			<!-- text -->
    		</span>
  		</div>
  	</div>
</div>