.book-symbol-label{
	font-size: 11px;
	font-weight: 550;
	color: #ccc;
	margin-left: 14px;
	margin-top: 1px;
	font-family: Raleway;
	line-height: 1.5;
}
.select-book-symbol{
	width: 90px;
	height: 25px;
	float: left;
	margin-left: 11px;
	/*background-color: #e6e6e6;*/
	border-radius: 3px;
	text-align: left;
	background-color: #f2f2f2;
	font-size: 12px;
	font-family: monospace;
	font-weight: 700;
	margin-bottom: 7px;  
}
.grid-header{
	color: #e6e6e6;
	font-weight: 300;
	line-height: 1.8;
	font-size: 12px;
	font-family: Raleway;
}
.grid-data{
	color: #e6e6e6;
	font-weight: 400;
	line-height: 300%;
	font-size: 11px;
	font-weight: 700;
	font-family: Roboto,monospace;
}
.order-book{
	/*background-color: yellow;*/
	/*height: 55%;*/
	
}
.sell-order-book{
	height: 35vh;
	overflow: auto;
  	overflow-x: hidden;
}
.buy-order-book{
	height: 35vh;
	overflow: auto;
  	overflow-x: hidden;
}

div.sell-order-book::-webkit-scrollbar {
  width: 9px;
}
div.buy-order-book::-webkit-scrollbar {
  width: 9px;
}
 
div.sell-order-book::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 15px;
}
div.buy-order-book::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 15px;
}
div.sell-order-book::-webkit-scrollbar-track {
  background: #b3b3b3;
  border-radius: 15px;
}
div.buy-order-book::-webkit-scrollbar-track {
  background: #b3b3b3;
  border-radius: 15px;
}